.container {
  margin-top: 30px;
  margin-bottom: 30px;
}

.align-children-center>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.align-children-center>div {
  text-align: center;
}

.align-children-center>div>svg {
  margin: 15px;
}

.post>div>span>p>a {
  text-decoration: underline;
}